@import "tailwindcss";

html, 
body, 
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  @apply bg-slate-300 text-slate-900 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-500 rounded-full border-2 border-transparent bg-clip-padding;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}

.custom-modal-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-modal-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9; 
  margin-bottom: 12px; 
  margin-top: 12px;    
  border-radius: 10px;
}

.custom-modal-scrollbar::-webkit-scrollbar-thumb {
  background-color: #94a3b8; 
  border-radius: 20px;
  border: 2px solid #f1f5f9;
}

.custom-modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; 
}